@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import "tailwindcss";
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bungee: "Bungee", sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.grecaptcha-badge { 
  visibility: hidden; 
}
